p {
	text-indent: 2em;
}
body {
	font-size: 1em;
	text-align: justify;
	line-height: 1.618em;
	word-wrap: break-word;
}
h1.title1 {
	font-size: 2em; 
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
h1.title01 {
	font-size: 2em; 
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0em;
}
h2.title2 {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
h3.title3 {
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
h4.title4 {
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
h5.title5 {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}
h6.title6 {
	font-size: 0.85em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.subtitle{
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-indent: 2em;
}
.subtitle2{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 2em;
	text-indent: 0em;
}
.normaltext {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext0 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext1 {
	font-size: 0.9em;
	text-indent: -1em;
	margin-top: 10pt;
	margin-bottom: 0pt;
	margin-left: 3em;
	font-style: italic;
}
.normaltext2 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 5.5em;
}
.lk {
	font-size: 0.9em;
	font-weight: bold;
    text-align: right;
   	margin-right: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.picture {
	text-indent: 0em;
    text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.table {
	text-indent: 0em;
    width:100%;
	margin-bottom: 1em;
    text-align: center;
}
.table1 {
	margin-left: 2em;
    width:100%;
}
.bt{
	font-size: 1.1em;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 8px;
	text-indent: 0em;
}
.bz{
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.tpzz{
	vertical-align: text-top;
}
.note {
	font-size: 1.2em;
	font-weight: bold;
	text-indent: 0em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.note1 {
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.bqbt01{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 2em;
}
.bqbt02{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0em;
}
.bqbt1{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.8em;
	text-align: center;
	text-indent: 0em;
}
.bqzz1{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0em;
}
.bqbt2{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.8em;
	text-indent: 2em;
}
.bqzz2{
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 1em;
	text-indent: 2em;
}
.tz{
	font-size: 0.85em;
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
	text-indent: 0em;
}
.tz1{
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0;
	margin-bottom: 10px;
}
.underline{
	text-decoration:underline;
}
.doubleline{
	text-decoration:underline;
	border-bottom-width: thin;
	border-bottom-style: solid;
}
.suptext{
    font-size: 0.5em;
}
.fy{
   page-break-before: always;
}
a {
	color: #0000CC;
}

.mulu {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
.contents {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
.mulu1 {
    margin-left: 0em;
}
.mulu01 {
    margin-left: 1.5em;
}
.mulu2 {
    margin-left: 2em;
}
.mulu3 {
    margin-left: 4em;
}

.mulu4 {
    margin-left: 4em;
}

.mulu5 {
    margin-left: 4em;
}

.mulu6 {
    margin-left: 4em;
}
.CN_Kindle_Kai{ 
	font-size: 0.85em;
	font-family: STKai, "MKai PRC", Kai;
}
.kindle-cn-bold{
font-weight: bold;
}
.xt {
	font-style: italic;
}
.xt1 {
	font-size: 0.9em; 
	font-style: italic;
}
.xx{
	border-bottom-width: 2px;
	border-bottom-style: dotted;
}
.normaltextb {
	text-indent: -1em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 3em;
}
.normaltextb0 {
	text-indent: -5.5em;
	margin-top: 10pt;
	margin-bottom: 0pt;
	margin-left: 7.5em;
}