p {
	text-indent: 0em;
}
body {
	font-size: 1em;
	text-align: justify;
	line-height: 1.618em;
	word-wrap: break-word;
}
.title1 {
	font-size: 1.7em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title2 {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title01 {
	font-size: 2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0em;
	text-indent: 0em;
}
.title02 {
	font-size: 1.4em;
	font-weight: bold;
	margin-top: 0.2em;
	margin-bottom: 1em;
	text-indent: 0em;
}
.title3 {
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title4 {
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title5 {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}
.title6 {
	font-size: 0.85em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.subtitle{
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0em;
}
.subtitle1{
	text-indent: 0em;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 0em;
	text-align: center;
}
.subtitlea{
	text-indent: 0em;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 0.6em;
	margin-bottom: 1em;
	text-align: center;
}
.subtitle01{
  font-family:STKai, "MKai PRC", Kai;
	font-size: 1.3em;
	margin-top: 0em;
	margin-bottom: 1em;
	text-indent: 0em;
	text-align: center;
}
.subtitle2{
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 2em;
}
.subtitle4{
	text-indent: 0em;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0em;
}
.subtitle02{
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0em;
	text-indent: 0em;
}
.subtitle5{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 2em;
}
.normaltexty {
	text-indent: 1em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltexty1 {
	margin-left: 7.2em;
	text-indent: -7.2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltexty2 {
	font-size: 0.95em;
	text-indent: 1em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltextz {
	margin-left: 3em;
	text-indent: -2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltextu {
	margin-left: 7.5em;
	text-indent: -6.5em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltextz1 {
	margin-left: 4em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext0 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext00 {
	margin-left: 1em;
	font-weight: bold;
	text-indent: -1em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext000 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltexta2 {
	text-indent: -2em;
	margin-left: 3.8em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltexta {
	text-indent: -1em;
	margin-left: 2em;
	margin-top: 6pt;
	margin-bottom: 0pt;
}
.normaltextaa {
	text-indent: -1em;
	margin-left: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltextaa0 {
	text-indent: 0em;
	margin-left: 1em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltextaa1 {
	text-indent: -1em;
	margin-left: 1.5em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltexta1 {
	text-indent: 0em;
	margin-left: 1em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltexta11 {
	line-height:2.0em;
	text-indent: 0em;
	margin-left: 1em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext0x {
  font-family:STKai, "MKai PRC", Kai;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext0kk {
    text-align: right;
	font-size: 0.85em;
  font-family:STKai, "MKai PRC", Kai;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext0k {
	font-size: 0.85em;
  font-family:STKai, "MKai PRC", Kai;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext1b {
	font-weight: bold;
	font-size: 1.1em;
	text-indent: 0em;
	margin-left: 1em;
	margin-top: 10pt;
	margin-bottom: 0pt;
}
.normaltext1a {
	margin-left: 1em;
	font-weight: bold;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 8pt;
}
.normaltext0b {
	margin-left: 1em;
	font-weight: bold;
	font-size: 1.1em;
	text-indent: -1em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext20 {
	margin-left: 2em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext1 {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: right;
}
.normaltext2 {
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext2c {
	margin-left: 2em;
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext02 {
	font-size: 0.95em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext3 {
	margin-left: 1em;
	text-indent: -1em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext3a {
	margin-left: 2.5em;
	text-indent: em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext4 {
	margin-left: 1em;
	font-weight: bold;
	text-indent: 0em;
	margin-top: 5pt;
	margin-bottom: 6pt;
}
.normaltext04 {
	margin-left: 1em;
	font-weight: bold;
	text-indent: -1em;
	margin-top: 5pt;
	margin-bottom: 6pt;
}
.normaltext5 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	    text-align: center;
}
.normaltext05 {
  font-family:STKai, "MKai PRC", Kai;
	text-indent: 0em;
	margin-top: 10pt;
	margin-bottom: 0pt;
	    text-align: center;
}

.normaltext6 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	    text-align: center;
}
.normaltext10 {
	text-indent: 2em;
	margin-top: 20pt;
	margin-bottom: 0pt;
}
.dqkh {
	text-indent: 2em;
	margin-top: 20pt;
	margin-bottom: 0pt;
}
.lk {
	font-size: 0.9em;
	font-weight: bold;
    text-align: right;
   	margin-right: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.picture {
	text-indent: 0em;
    text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.table {
	text-indent: 0em;
	margin-bottom: 1em;
}
.table1 {
    width:100%;
	margin-bottom: 1em;
}
.bt{
	text-indent: 0em;
	font-size: 1.1em;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 8px;
}
.bz{
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.tpzz{
vertical-align: middle;
}
.tpzz1{
	vertical-align: text-top;
}
.note {
	font-size: 1.2em;
	font-weight: bold;
	text-indent: 0em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.note1 {
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.bqbt01{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 2em;
}
.bqbt02{
	text-indent: 0em;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.bqbt1{
	text-indent: 0em;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.8em;
	text-align: center;
}
.bqzz1{
	text-indent: 0em;
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 1em;
	text-align: center;
}
.bqbt2{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.8em;
	text-indent: 2em;
}
.bqzz2{
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 1em;
	text-indent: 2em;
}
.tz{
	font-size: 0.9em;
	text-indent: 0em;
	margin-top: 0;
	margin-bottom: 10px;
}
.tz1{
	font-size: 1.1em;
	margin-left: 2em;
	text-indent: 0em;
	margin-top: 0;
	margin-bottom: 10px;
}
.underline{
	text-decoration:underline;
}
.doubleline{
	text-decoration:underline;
	border-bottom-width: thin;
	border-bottom-style: solid;
}
.suptext{
    font-size: 0.5em;
}
.fy{
   page-break-before: always;
}
a {
	color: #0000CC;
}

.contents-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
.contents {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
.contents1 {
    margin-bottom: 0em;
	letter-spacing: 0em;
    margin-left: 0em;
}
.contents2 {
    margin-left: 2em;
}
.contents3 {
    margin-left: 4em;
}

.contents4 {
    margin-left: 4em;
}

.contents5 {
    margin-left: 4em;
}

.contents6 {
    margin-left: 4em;
}
.CN_Kindle_Kai{ font-family:STKai, "MKai PRC", Kai;}
.normaltextk {
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-indent: 2em;
 font-family:STKai, "MKai PRC", Kai;
 }
 .normaltextk0 {
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-indent: 0em;
 font-family:STKai, "MKai PRC", Kai;
 }
 .normaltextx {
 	font-size: 0.85em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-indent: 2em;
 font-family:STKai, "MKai PRC", Kai;
 }
 .normaltextc {
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-indent: 2em;
 font-family:STKai, "MKai PRC", Kai;
 	font-weight: bold;
 }
 .lkk {
  font-family:STKai, "MKai PRC", Kai;
	font-size: 1em;
    text-align: right;
   	margin-right: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
 .lkx {
  font-family:STKai, "MKai PRC", Kai;
	font-size: 0.85em;
    text-align: right;
   	margin-right: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.lkc {
	font-size: 0.85em;
  font-family:STKai, "MKai PRC", Kai;
	font-weight: bold;
    text-align: right;
   	margin-right: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.xcx{ 	text-decoration: line-through;}
.dashed{ border-bottom-width: 1px; border-bottom-style: dashed;}
.dashed1{ border-bottom-width: 1.7px; border-bottom-style: dashed;}
.kk
{	border-width: thin;
	border-style: solid;
	padding: 12pt 12pt 12pt 12pt;
	border-radius:18px;
		margin-top: 1em;
	margin-bottom: 1em;
}
.kk1
{
	margin-left: 2em;
	margin-right: 2em;
	border-width: thin;
	border-style: solid;
	padding: 24pt 24pt 24pt 24pt;
}
.kk2
{
	margin-left: 2em;
	border-width: thin;
	border-style: solid;
	padding: 10pt 10pt 10pt 10pt;
}
.kk3
{
	margin-left: 0em;
	border-width: thin;
	border-style: solid;
	padding: 10pt 10pt 0pt 0pt;
box-shadow:2px 3px 5px #000;  
}
.xt
{
font-style: italic;
}
.kg
{
	letter-spacing: 0.5em;
}
.y{
	border:1pt solid;
	border-radius: 100%;
	padding:2pt;
}
.ds
{
background: #9AB4C6;
padding: 4pt 2pt 4pt 2pt;
}
.ds1
{
background: #A7BCD1;
	border-radius: 100%;
	padding:2pt;
}
.ds2
{
	border:1.6pt solid #2D6AB3;
background: #9AB4C6;
padding: 4pt 2pt 4pt 2pt;
}