p {
	text-indent: 2em;
}
body {
	font-size: 1em;
	text-align: justify;
	line-height: 1.618em;
	word-wrap: break-word;
}
.title1 {
	font-size: 2em; 
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	line-height:1em;
	text-indent: 0em;
}
.title01 {
	font-size: 0em; 
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0em;
}
.title1a {
	font-size: 2em; 
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0em;
	text-align: center;
	line-height:1em;
	text-indent: 0em;
}
.title01 {
	font-size: 2em; 
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0em;
}
.title2 {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 1em;
	text-align: center;
}
.title3 {
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title4 {
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title5 {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}
h6.title6 {
	font-size: 0.85em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.subtitle{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-indent: 2em;
}
.subtitle1{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
	text-indent: 0em;
}
.normaltext {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext1 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2em;
	text-align: right;
}
.lk {
	font-size: 0.85em;
    text-align: right;
   	margin-right: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: STKai, "MKai PRC", Kai;
}
.picture {
	text-indent: 0em;
    text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.table {
	text-indent: 0em;
    width:100%;
	margin-bottom: 1em;
    text-align: center;
}
.table1 {
	margin-left: 2em;
    width:100%;
}
.bt{
	font-size: 1.1em;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 8px;
	text-indent: 0em;
}
.bz{
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.tpzz{
	vertical-align: text-top;
}
td{
	vertical-align: text-top;
}
.note {
	font-size: 1.2em;
	font-weight: bold;
	text-indent: 0em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.note1 {
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.tz{
	font-size: 0.85em;
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
	text-indent: 0em;
}
.tz1{
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0;
	margin-bottom: 10px;
}
.underline{
	text-decoration:underline;
}
.doubleline{
	text-decoration:underline;
	border-bottom-width: thin;
	border-bottom-style: solid;
}
.suptext{
    font-size: 0.5em;
}
.fy{
   page-break-before: always;
}
a {
	color: #0000CC;
}

.mulu {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
	text-align: center;
	}
.contents {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
.mulu1 {
    margin-left: 0em;
}
.mulu01 {
    margin-left: 1.5em;
}
.mulu001 {
    margin-left: 2em;
}
.mulu2 {
    margin-left: 2em;
}
.mulu3 {
    margin-left: 4em;
}

.mulu4 {
    margin-left: 4em;
}

.mulu5 {
    margin-left: 4em;
}

.mulu6 {
    margin-left: 4em;
}

p.copyright-text {
	line-height: 1.618em;
	text-indent: 0em;
}
.normaltext2 {
	font-size: 0.85em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-indent: 2em;
}
.normaltext3 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext03 {
	font-size: 0.9em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-weight: bold;
}
.normaltext02 {
	font-size: 0.85em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2em;
	text-indent: 2em;
	font-family: STKai, "MKai PRC", Kai;
}
.CN_Kindle_Kai{ 
	font-family: STKai, "MKai PRC", Kai;
}
.kindle-cn-bold{
font-weight: bold;
}
.zj{letter-spacing:0.35em;}

.xz{
	font-size: 0.85em;
 }
.xt {
	font-style: italic;
}
.xx{
	border-bottom-width: 2px;
	border-bottom-style: dotted;
}
.normaltext0 {
	text-indent: 0em;
	margin-top: 10pt;
	margin-bottom: 0pt;
}
.b05{
	margin-top: 0.5em;
	margin-bottom: 0em;
	margin-left: 1em;
	text-indent: -1em;
}
.b5{
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 1.5em;
	text-indent: -1em;
}
.c5{
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 2.5em;
	text-indent: -1em;
}
.c05{
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 2.5em;
	text-indent: -1.5em;
}
.b005{
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 1em;
	text-indent: -1em;
}
.b1{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 1.5em;
	text-indent: -1.5em;
}
.normaltext04 {
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 1.5em;
	text-indent: 0em;
}
.normaltext4 {
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2em;
	text-indent: 0em;
}
.normaltext5{
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 1.5em;
	text-indent: -1.5em;
}