body{word-wrap:break-word; text-align: justify; font-size: 1em; line-height:1.618em;}
p{margin-top: 1em;text-indent: 0em;}
a{color:#0000cc;}
.title1 {
	font-size: 1.6em; 
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align:center;
}
.title01 {
	font-size: 1.6em; 
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent:0em;
}
.title2 {
	font-size: 2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align:center;
}
.title3 {
	font-size: 1.6em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	color:#B71F24;
}
.title4 {
	font-size: 1.6em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	background:#E0AD7D;
	padding:0.5em;
}
.title5 {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}
.title6 {
	font-size: 0.85em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.subtitle{
	font-size: 1.4em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0em;
}
.normaltext{
    text-indent: 2em;
	margin-top: 0em;
	margin-bottom: 0em;
}

.lk {
    text-align: right;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.picture {
	text-indent: 0em;
    text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.picture1 {
	text-indent: 0em;
    text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
.table {
	margin-left: 2em;
    width:100%;
}
.tpzz{
	vertical-align: text-top;
}
td{
	vertical-align: text-top;
	text-align: left;
}
.tpzz1{
	vertical-align: middle;
	height: 2em;
}
.note {
	font-size: 1.2em;
	font-weight: bold;
	text-indent: 0em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.note1 {
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.tz{
	font-size: 0.85em;
	margin-top: 0em;
	margin-bottom: 10px;
	text-indent: 0em;
}
.bt{
	font-weight:bold;
	font-size: 1.1em;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align:center;
}.underline{
	text-decoration:underline;
}
.doubleline{
	text-decoration:underline;
	border-bottom-width: thin;
	border-bottom-style: solid;
}
.suptext{
    font-size: 0.5em;
}
.fy{
   page-break-before: always;
      padding:2pt;
}
.contents-title {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
	border-bottom: 1.5px dotted #000000;
}
a {
	color: #0000CC;
}
.mulu {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
.nulu1 {
    margin-left: 0em;
}
.mulu2 {
    margin-left: 2em;
}
.mulu3 {
    margin-left: 4em;
}
.normaltext4a {
	font-weight:bold;
	font-size:0.85em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;

}
.normaltext5a {
	text-indent: 0em;
	margin-left:2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.subtitle0{
	font-weight:bold;
	font-size:1.2em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-indent: 2em;
}
.szxc{
float:left;
font-size:3em;
padding:0px 1px 1px 1px;
margin-top:0em;
line-height:1em;
font-weight:bold;
}
.normaltext6 {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-indent: 2em;
}
.normaltext04 {
	margin-top: 0em;
	margin-bottom: 0em;
	text-indent: 0em;
}
.k {
border: 4px solid #CC7152;
padding:0.1em;
}
.k1 {
border: 1px solid #CC7152;
padding:1em;
}
.xt {
font-style:italic;
}
.normaltext5 {
	font-family:STKai, "MKai PRC", Kai;
	font-size:0.85em;
	margin-top: 0em;
	margin-bottom: 0em;
	text-indent: 2em;
}
.CN_Kindle_Kai{ font-family:STKai, "MKai PRC", Kai;}
.normaltext7 {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 2em;
}
.normaltextf {
	text-indent: -1em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 3em;
}
.jd{
   vertical-align: text-top;
}
.jg{
   letter-spacing: 0.5em;
}