p {
	text-indent: 2em;
}
body {
	font-size: 1em;
	text-align: justify;
	line-height: 1.618em;
	word-wrap: break-word;
}
h1.title1 {
	font-size: 2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
h2.title2 {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
   page-break-before: always;
}
h3.title3 {
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
h4.title4 {
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
h5.title5 {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}
h6.title6 {
	font-size: 0.85em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.subtitle{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-indent: 0em;
}
.subtitle1{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
	text-indent: 0em;
}
.subtitle2{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-indent: 2em;
}
.normaltext {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext1 {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: right;
}
.dqkh {
	text-indent: 2em;
	margin-top: 20pt;
	margin-bottom: 0pt;
}
.lk {
	font-size: 0.9em;
	font-weight: bold;
    text-align: right;
   	margin-right: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.picture {
	text-indent: 0em;
    text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.table {
	text-indent: 0em;
    width:100%;
	margin-bottom: 1em;
    text-align: center;
}
.table0 {
	text-indent: 0em;
    width:100%;
	margin-bottom: 1em;
    margin-left: 0em;
}
.table1 {
    width:100%;
	margin-bottom: 1em;
}
.bt{
	font-size: 1.1em;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 8px;
	text-indent: 0em;
}
.bz{
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.tpzz{
	vertical-align: text-top;
}
td{
	vertical-align: text-top;
}
.tpzz1{
	vertical-align: text-bottom;
}
.note {
	font-size: 1.2em;
	font-weight: bold;
	text-indent: 0em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.note1 {
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.bqbt01{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 2em;
}
.bqbt02{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0em;
}
.bqbt1{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.8em;
	text-align: center;
	text-indent: 0em;
}
.bqzz1{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0em;
}
.bqbt2{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.8em;
	text-indent: 2em;
}
.bqzz2{
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 1em;
	text-indent: 2em;
}
.tz{
	font-size: 0.85em;
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
	text-indent: 0em;
}
.tz1{
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0;
	margin-bottom: 10px;
}
.underline{
	text-decoration:underline;
}
.doubleline{
	text-decoration:underline;
	border-bottom-width: thin;
	border-bottom-style: solid;
}
.suptext{
    font-size: 0.5em;
}
.fy{
   page-break-before: always;
}
a {
	color: #0000CC;
}
.contents-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
.contents {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
.contents1 {
    margin-left: 0em;
}
.contents2 {
    margin-left: 2em;
}
.contents3 {
    margin-left: 4em;
}

.contents4 {
    margin-left: 4em;
}

.contents5 {
    margin-left: 4em;
}

.contents6 {
    margin-left: 4em;
}

h1.kindle-cn-copyright-title {
	page-break-before: always;
	font-size: 1.2em; 
	text-align: center; 
	border-width: 1.5px;
	margin:0.5em 0em 0.5em 0em;
	border-style: none none solid none;
}

p.copyright-text {
	line-height: 1.618em;
	text-indent: 0em;
}

blockquote.kindle-cn-blockquote {
  background: #f9f9f9;
  border-left: 0.5em solid #ccc;
  margin: 1.5em;
  padding: 1em;
  text-indent:2em;
  line-height:1.5em;
}
:lang(ja) {
    font-family: TBGothic, TBMincho, TBGothic, HYGothic, TsukushiMincho;
}

.normaltext2 {
	font-size: 0.85em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-indent: 2em;
}
.normaltextd {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltextz {
	text-indent: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}
.normaltext02 {
	font-size: 0.85em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-indent: 2em;
	font-family: STKai, "MKai PRC", Kai;
}
.CN_Kindle_Kai{ 
	font-family: STKai, "MKai PRC", Kai;
}
.subtitlehz2 {
	font-size: 2em;
	text-indent: 0em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.subtitlez2 {
	font-size: 1.2em;
	text-indent: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	text-align: center;
}
.subtitleh2 {
	font-weight: bold;
	font-size: 1.2em;
	text-indent: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}
.subtitlez6 {
	font-size: 1.6em;
	text-indent: 0em;
	margin-top: 0em;
	margin-bottom: 1em;
	text-align: center;
}
.d2 {
float:left;
font-size:3em;
padding:0px 1px 1px 1px;
margin-top:-0.2em;
line-height:1em;
font-weight: bold;
}
.normaltextd2 {
	font-size: 1.2em;
	text-indent: -1em;
	margin-left: 1em;
	font-weight: bold;
	margin-top: 5pt;
	margin-bottom: 5pt;
}
.normaltextd3 {
	text-indent: -1.5em;
	margin-left: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltextd4 {
	text-indent: 0em;
	margin-left: 2em;
	font-weight: bold;
	margin-top: 5pt;
	margin-bottom: 5pt;
}
.normaltextd5 {
	text-indent: -1em;
	margin-left: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltextd6 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 5pt;
}
.div1 {
background:#005230;
padding:1em;
}

.ys1{color:#FFDD00;}
.ys2{color:#FFFFFF;}

.dashed{
	border-bottom-width: 2px;
	border-bottom-style: dotted;
}
.normaltextA {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: right;
}