body {
	text-align: justify;
	line-height: 1.618em;
	word-wrap: break-word;
}
p {
	text-indent: 0em;
	margin-top: 1em;
}
h1.title1 {
	font-size: 2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title01 {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0em;
}
.title1a {
	font-size: 2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0em;
	text-align: center;
}
h2.title2 {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-indent: 0em;
	text-align: center;
}
h3.title3 {
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
h4.title4 {
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0em;
}
h5.title5 {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}
h6.title6 {
	font-size: 0.85em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.subtitle{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	text-indent: 0em;
	margin-left:0em;
}
.subtitle1{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
	text-indent: 0em;
}
.subtitle2{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 2em;
}
.normaltext {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext1 {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-bottom: 0pt;
    text-align: right;
}
.normaltext2 {
	font-size: 0.85em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-indent: 2em;
	font-family: STKai, "MKai PRC", Kai;
}
.normaltext3 {
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-indent: 0em;
}
.normaltext3a {
	font-size: 0.9em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-indent: 0em;
	font-family: STKai, "MKai PRC", Kai;
}
.lk {
	font-size: 0.85em;
    text-align: right;
   	margin-right: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.lk1 {
	font-size: 0.85em;
    text-align: right;
   	margin-right: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.picture {
	text-indent: 0em;
    text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.table {
	text-indent: 0em;
    width:100%;
	margin-bottom: 1em;
    text-align: center;
}
.table1 {
    width:100%;
	margin-bottom: 1em;
	margin-left: 2em;
}
td{
	vertical-align: text-top;
}
.tpzz{
	vertical-align: text-top;
}
.tpzz1{
	vertical-align: text-bottom;
}
.note {
	font-size: 1.2em;
	font-weight: bold;
	text-indent: 0em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.note1 {
	font-size: 0.85em;
	text-indent: -2.7em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left:3em;
}
.bt{
	text-align: center;
	margin-top: 0.8em;
	margin-bottom: 0px;
	text-indent: 0em;
}
.bz{
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.tz{
	font-size: 0.85em;
	text-align: center;
	margin-top: 0em;
	margin-bottom: 1em;
	text-indent: 0em;
	font-weight: bold;
}
.tz1{
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0em;
	margin-bottom: 1em;
}
.underline{
	text-decoration:underline;
}
.doubleline{
	text-decoration:underline;
	border-bottom-width: thin;
	border-bottom-style: solid;
}
.suptext{
    font-size: 0.5em;
}
.fy{
   page-break-before: always;
}
a {
	color: #0000CC;
}
.contents-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
.contents {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
.contents1 {
    margin-left: 0em;
}
.contents2 {
    margin-left: 2em;
}
.contents3 {
    margin-left: 4em;
}

.contents4 {
    margin-left: 4em;
}

.contents5 {
    margin-left: 4em;
}

.contents6 {
    margin-left: 4em;
}
.Kai{ 
	font-family: STKai, "MKai PRC", Kai;
}
.dashed{
	border-bottom-width: 1px;
	border-bottom-style: dashed;
}
.xx{
	border-bottom-width: 2px;
	border-bottom-style: dotted;
}
.sx{border-bottom:1pt solid;margin-left:30%;margin-right:30%;}
.normaltext0 {
	text-indent: 0em;
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 1em;
}
.normaltextb1 {
	text-indent: -1em;
    font-weight: bold;
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 1em;
}
.normaltextb2 {
	text-indent: -1.5em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2.5em;
}
.normaltextb02a {
	text-indent: -1em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2em;
}
.normaltextb02 {
	text-indent: -1em;
	margin-top: 10pt;
	margin-bottom: 0pt;
	margin-left: 2em;
}
.normaltextb002 {
	text-indent: -2.5em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 3.5em;
}
.normaltextb3 {
	text-indent: -1.5em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 4em;
}
.normaltexta {
	text-indent: -2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2em;
}
.normaltextc {
	text-indent: 0em;
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 2em;
}
.sx{border-bottom:1pt solid;margin-left:30%;margin-right:30%;}
.sx1{border-bottom:1pt solid;}