body {line-height: 1.618em;	word-wrap: break-word;text-align:justify;}
p {text-indent: 0em;margin-top: 1em;}
.title1 {
	font-size: 2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title01 {
	font-size: 2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: -1.5em;
	margin-left: 1.5em;
}
.title01a {
	font-size: 2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: -2em;
	margin-left: 2em;
}
.subtitlea {
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0em;
	margin-left: 1.5em;
}
.title2 {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title02 {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1.5em;
	text-indent: -1.5em;
}
.title02a {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	text-indent: -2em;
}
.title3 {
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title4 {
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title5 {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}
.title6 {
	font-size: 0.85em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.subtitle{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-indent: 0em;
}
.subtitle1{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}
.normaltext {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext1 {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: right;
}
.normaltext01 {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-right: 2em;
	text-align: right;
}
.normaltext1a {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: right;
		font-size: 0.85em;
			font-family: STKai, "MKai PRC", Kai;
}
.lk {
	font-size: 0.9em;
    text-align: right;
   	margin-right: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: STKai, "MKai PRC", Kai;
}
.picture {
    text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.table {
    width:100%;
	margin-bottom: 1em;
    text-align: center;
}
td{
	vertical-align: text-top;
}
.table1 {
    width:100%;
	margin-bottom: 1em;
}
.bt{
	font-size: 1.1em;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 8px;
}
.bz{
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.tpzz{
	vertical-align: text-top;
}
.note {
	font-size: 1.2em;
	font-weight: bold;
	text-indent: 0em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.note1 {
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
a {
	color: #0000CC;
}
.mulu {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
.contents {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
.mulu1 {
    margin-left: 0em;
}
.mulu2 {
    margin-left: 1.5em;
}
.mulu2a {
    margin-left: 2em;
}
.mulu3 {
    margin-left: 3em;
}
.mulu3a {
    margin-left: 3.5em;
}
.mulu4 {
    margin-left: 4em;
}

.underline{
	text-decoration:underline;
}
.doubleline{
	text-decoration:underline;
	border-bottom-width: thin;
	border-bottom-style: solid;
}
.suptext{
    font-size: 0.5em;
}
.fy{
   page-break-before: always;

}
.Kai{ 
	font-family: STKai, "MKai PRC", Kai;
}
.xx{
	border-bottom-width: 2px;
	border-bottom-style: dotted;
}
.xt {
	font-style: italic;
}
.dashed{
	border-bottom-width: 2px;
	border-bottom-style: dotted;
}
.normaltext2 {
    font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext0 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 1em;
}
.normaltext3 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext03 {
    font-size: 0.85em;
    font-weight: bold;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext3a {
    font-weight: bold;
	text-indent: 0em;
	margin-top: 10pt;
	margin-bottom: 10pt;
}
.normaltext4 {
	text-indent: 0em;
	margin-top: 0pt;
		margin-bottom: 0pt;
    text-align: center;
}
.normaltext5 {
	text-indent: -1em;
	margin-top: 0pt;
		margin-bottom: 0pt;
		margin-left: 1em;
}
.normaltext5a {
	text-indent: -1.5em;
	margin-top: 0pt;
		margin-bottom: 0pt;
		margin-left: 1.5em;
}
.normaltext6 {
    font-weight: bold;
	text-indent: 0em;
	margin-top: 0pt;
		margin-bottom: 0pt;
		margin-left: 2em;
}
.normaltext7 {
	text-indent: 1em;
	margin-top: 0pt;
		margin-bottom: 0pt;
		margin-left: 1em;
}
.normaltext8 {
	text-indent: 2em;
	margin-top: 0pt;
		margin-bottom: 0pt;
		margin-left: 2em;
}
.div0{
	border:1pt solid;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
padding:0pt 10pt 0pt 10pt;
}
.div1{
	border:1pt solid;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    padding:2pt;
}
.kindle-cn-bold
{
font-weight: bold;
}