body {
	font-size: 1em;
	text-align: justify;
	line-height: 1.618em;
	word-wrap: break-word;
}
p {
	text-indent: 0em;
}
a{color:#0000cc;}
.title1 {
	font-size: 2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.titlea {
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 0em;
	text-align: center;
}
.titleb {
	font-size: 1.5em;
	margin-top: 0em;
	margin-bottom: 1em;
	text-align: center;
}
.title2 {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title3 {
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title4 {
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title5 {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}
.title6 {
	font-size: 0.85em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.subtitle{
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0em;
}
.subtitle1{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}
.normaltext {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltextW {
	text-indent: -1em;
	margin-top: 0pt;
	margin-left: 3em;
	margin-bottom: 0pt;
}
.normaltexta {
	text-indent: 0em;
	margin-top: 10pt;
	margin-bottom: 10pt;
}
.normaltext1 {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: right;
}
.normaltext0 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext2 {
	font-size: 1.2em;
	font-weight: bold;
	text-indent: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}
.normaltext3 {
	font-size: 1.1em;
	text-indent: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
}
.normaltext4 {
	font-weight: bold;
	text-indent: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
}
.normaltext5 {
	font-weight: bold;
	text-indent: 0em;
	margin-left: 5.5em;
	margin-top: 0em;
	margin-bottom: 0em;
}
.normaltext6 {
	text-indent: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}
.normaltext7 {
	text-indent: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 2em;
}
.normaltext7a {
	text-indent: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 2em;
}
.normaltext8 {
	text-indent: -1.5em;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 3.5em;
}

.normaltext08 {
	text-indent: -1em;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 3em;
}
.normaltext9 {
	text-indent: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-weight: bold;
	margin-left: 2em;
}
.dqkh {
	text-indent: 2em;
	margin-top: 20pt;
	margin-bottom: 0pt;
}
.lk {
	font-size: 0.9em;
	font-weight: bold;
    text-align: right;
   	margin-right: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.picture {
    text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.table {
    width:100%;
	margin-bottom: 1em;
    text-align: center;
}
.table1 {
    width:100%;
	margin-bottom: 0em;
	margin-left:2em;
}
.bt{
	font-size: 1.1em;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 8px;
}
.bz{
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.tpzz{
	vertical-align: text-top;
}
.note {
	font-size: 1.2em;
	font-weight: bold;
	text-indent: 0em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.note1 {
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.mulu {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}
.contents {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}
.mulu1 {
    margin-left: 0em;
}
.mulu2 {
    margin-left: 2em;
}
.mulu3 {
    margin-left: 4em;
}

.mulu4 {
    margin-left: 4em;
}
.bqbt01{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 2em;
}
.bqbt02{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.bqbt1{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.8em;
	text-align: center;
}
.bqzz1{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 1em;
	text-align: center;
}
.bqbt2{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.8em;
	text-indent: 2em;
}
.bqzz2{
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 1em;
	text-indent: 2em;
}
.underline{
	text-decoration:underline;
}
.underline1{
	border-bottom: 1px solid;
	padding: 0em 2em 0em 2em;
}
.doubleline{
	text-decoration:underline;
	border-bottom-width: thin;
	border-bottom-style: solid;
}
.kindle-cn-bold{
	font-weight: bold;
}
.xt{
	font-style:italic;
}
.xx{
	border-bottom-width: 2px;
	border-bottom-style: dotted;
}

.normaltext10 {
	margin-left:2em;
	text-indent:-1.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-weight: bold;
}
.jj{
   letter-spacing: 0.55em;
}