body{word-wrap:break-word; text-align: justify; font-size: 1em; line-height:1.618em;}
p{margin-top: 1em;text-indent: 0em;}
.title1 {
font-size: 1.7em;
font-weight: bold;
margin-top: 1em;
margin-bottom: 1em;
text-align: center;
}
.title2 {
font-size: 1.5em;
font-weight: bold;
margin-top: 1em;
margin-bottom: 1em;
text-align: center;
}
.title01 {
font-size: 1.8em;
font-weight: bold;
margin-top: 1em;
margin-bottom: 0.5em;
text-indent: 0em;
}
.title02 {
font-size: 1.4em;
font-weight: bold;
margin-top: 0.5em;
margin-bottom: 1em;
text-indent: 0em;
}
.title3 {
font-size: 1.3em;
font-weight: bold;
margin-top: 1em;
margin-bottom: 1em;
text-align: center;
}
.title4 {
font-size: 1.1em;
font-weight: bold;
margin-top: 1em;
margin-bottom: 1em;
text-align: center;
}
.title5 {
font-weight: bold;
margin-top: 1em;
margin-bottom: 1em;
}
.title6 {
font-size: 0.85em;
font-weight: bold;
margin-top: 1em;
margin-bottom: 1em;
text-align: center;
}
.subtitle{
font-size: 1.3em;
font-weight: bold;
margin-top: 1em;
margin-bottom: 1em;
text-indent: 0em;
}

.subtitle1{
text-indent: 0em;
font-size: 1.5em;
font-weight: bold;
margin-top: 1em;
margin-bottom: 1em;
text-align: center;
}

.subtitlea{
text-indent: 0em;
font-size: 1.3em;
font-weight: bold;
margin-top: 0.6em;
margin-bottom: 1em;
text-align: center;
}
.subtitle01{
  font-family:STKai, "MKai PRC", Kai;
font-size: 1.3em;
margin-top: 1em;
margin-bottom: 1em;
text-indent: 0em;
text-align: center;
}
.subtitle2{
font-size: 1.2em;
font-weight: bold;
margin-top: 1em;
margin-bottom: 1em;
text-indent: 2em;
}
.subtitle4{
text-indent: 0em;
font-size: 1.3em;
font-weight: bold;
margin-top: 1em;
margin-bottom: 0em;
}
.subtitle02{
font-size: 1.2em;
font-weight: bold;
margin-top: 1em;
margin-bottom: 0em;
text-indent: 0em;
}
.subtitle5{
font-size: 1.1em;
font-weight: bold;
margin-top: 1em;
margin-bottom: 1em;
text-indent: 2em;
}
.normaltext {
text-indent: 2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext66 {
text-indent: -1em;
margin-left: 3em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltextj {
margin-left: 4em;
text-indent: -2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltextjj {
margin-left: 3em;
text-indent: -2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltextj1 {
margin-left: 1em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltextj2 {
margin-left: 2em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltextj3 {
margin-left: 4em;
text-indent: -1em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltextj4 {
margin-left: 6.4em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltextj5 {
margin-left: 7.4em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltextj6 {
margin-left: 8.4em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltextj7 {
margin-left: 9.4em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext0 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext1 {
font-size: 0.9em;
   margin-right: 0em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
text-align: right;
}
.xz {
font-size: 0.85em;
}
.normaltext01 {
   margin-right: 0em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
text-align: right;
}
.lk {
font-size: 0.8em;
font-weight: bold;
    text-align: right;
   margin-right: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.lka {
font-weight: bold;
    text-align: right;
   margin-right: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext11 {
font-size: 1.15em;
text-indent: 2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext2 {
font-size: 0.85em;
text-indent: 2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext04 {
margin-left: 4em;
font-size: 0.85em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext04a {
margin-left: 3.3em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext4a {
margin-left: 5em;
font-size: 0.85em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext2b {
font-size: 0.85em;
text-indent: 0em;
margin-left: 2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext2c {
margin-left: 2em;
font-size: 0.85em;
text-indent: 2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltextd {
font-size: 1.15em;
text-indent: 2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext02 {
font-size: 0.85em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltextx {
font-size: 0.85em;
margin-left: 1em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltextg {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
    text-align: center;
}
.normaltextq {
margin-left: 4em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltextq2 {
margin-left: 7.4em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltextqq {
margin-left: 4em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext3 {
font-size: 0.9em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext4 {
text-indent: 2em;
font-weight: bold;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext5 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
    text-align: center;
}
.normaltext05 {
font-size: 0.85em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
    text-align: center;
}

.normaltext6 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
    text-align: center;
}
.normaltext10 {
text-indent: 2em;
margin-top: 20pt;
margin-bottom: 0pt;
}
.dqkh {
text-indent: 2em;
margin-top: 20pt;
margin-bottom: 0pt;
}
.picture {
text-indent: 0em;
    text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}
.table {
text-indent: 0em;
margin-bottom: 1em;
}
.table1 {
font-size: 0.85em;
margin-left: 2em;
    width:100%;
margin-bottom: 1em;
}
.bt{
text-indent: 0em;
font-size: 1.1em;
text-align: center;
margin-top: 10px;
margin-bottom: 8px;
}
.bz{
font-size: 0.85em;
text-indent: 2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.tpzz{
vertical-align: middle;
}
.tpzz1{
vertical-align: text-top;
}
.note {
font-size: 1.2em;
font-weight: bold;
text-indent: 0em;
margin-top: 1em;
margin-bottom: 0.5em;
}
.note1 {
font-size: 0.85em;
text-indent: 2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.tz{
font-size: 0.9em;
text-indent: 0em;
margin-top: 0;
margin-bottom: 10px;
}
.tz1{
text-align: center;
font-size: 1.1em;
text-indent: 0em;
margin-top: 0;
margin-bottom: 10px;
}
.ktz{
border-width: thin;
border-style: solid;
padding: 2pt 5pt 2pt 5pt;
}
.underline{
text-decoration:underline;
}
.doubleline{
text-decoration:underline;
border-bottom-width: thin;
border-bottom-style: solid;
}
.suptext{
    font-size: 0.5em;
}
.fy{
   page-break-before: always;
}
a {
color: #0000CC;
}

.contents-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
.contents {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
.contents1 {
    margin-bottom: 0.7em;
letter-spacing: 0em;
    margin-left: 0em;
}
.contents2 {
    margin-left: 2em;
}
.contents3 {
    margin-left: 4em;
}

.contents4 {
    margin-left: 4em;
}

.contents5 {
    margin-left: 4em;
}

.contents6 {
    margin-left: 4em;
}
.CN_Kindle_Kai{ font-family:STKai, "MKai PRC", Kai;}
.normaltextk {
font-size: 0.85em;
margin-top: 0pt;
margin-bottom: 0pt;
text-indent: 2em;
 font-family:STKai, "MKai PRC", Kai;
 }
 .normaltextk0 {
margin-top: 0pt;
margin-bottom: 0pt;
text-indent: 0em;
 font-family:STKai, "MKai PRC", Kai;
 }
 .normaltextc {
margin-top: 0pt;
margin-bottom: 0pt;
text-indent: 2em;
 font-family:STKai, "MKai PRC", Kai;
 font-weight: bold;
 }
 .lkk {
  font-family:STKai, "MKai PRC", Kai;
font-size: 1em;
    text-align: right;
   margin-right: 2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
 .lkx {
font-size: 0.85em;
    text-align: right;
   margin-right: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.lkc {
font-size: 0.85em;
  font-family:STKai, "MKai PRC", Kai;
font-weight: bold;
    text-align: right;
   margin-right: 2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.xcx{ text-decoration: line-through;}
.dashed{ border-bottom-width: 2px; border-bottom-style: dashed;}
.dashed1{ border-bottom-width: 1.7px; border-bottom-style: dashed;}
.kk
{border-width: thin;
border-style: solid;
padding: 12pt 12pt 12pt 12pt;
border-radius:18px;
margin-top: 1em;
margin-bottom: 1em;
}
.kk1
{
margin-left: 1em;
margin-right: 0em;
border-width: thin;
border-style: solid;
padding: 4pt 4pt 4pt 2em;
}
.kk2
{
margin-top: 10pt;
width:43%;
margin-bottom: 10pt;
text-indent: 0em;
margin-left: 1em;
border-width: thin;
border-style: solid;
padding: 4pt 2pt 4pt 2pt;
}
.kk3
{
margin-left: 0em;
border-width: thin;
border-style: solid;
padding: 10pt 10pt 0pt 0pt;
box-shadow:2px 3px 5px #000;  
}
.xt
{
font-style: italic;
}
.kg
{
letter-spacing: 0.5em;
}
.y{
border:1pt solid;
border-radius: 100%;
padding:2pt;
}
.ds
{
font-weight: bold;
padding: 4pt 2pt 4pt 2pt;
}
.ds1
{
border-radius: 100%;
padding:2pt;
}
.ds2
{
border:1.6pt solid #2D6AB3;
padding: 4pt 2pt 4pt 2pt;
}
.xx
{
margin-left: 2em;
border-bottom-width: 1px; border-bottom-style: dashed;
}
img{ }
.kindle-cn-bold{font-weight: bold;}
.mulu {
font-size: 1.8em;
font-weight: bold;
margin-top: 1em;
margin-bottom: 1em;
text-align: center;
}
.mulu1 {
margin-left: 0em;
}
.mulu2 {
font-size: 1.2em;
font-weight: bold;
margin-left: 2em;
margin-right: 0em;
margin-top: 0.2em;
margin-bottom: 0em;
}
.mulu3 {
font-size: 1.1em;
font-weight: bold;
margin-left: 4em;
margin-right: 0em;
margin-top: 0.2em;
margin-bottom: 0em;
}
.mulu4 {
font-weight: bold;
margin-left: 6em;
margin-right: 0em;
margin-top: 0.2em;
margin-bottom: 0em;
}
.normaltext00 {
text-indent: -1.5em;
margin-left: 3.5em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext000 {
text-indent: -4.2em;
margin-left: 6.2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext2a {
font-size: 0.85em;
text-indent: 0em;
margin-left: 4.2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext2aa {
font-size: 0.85em;
text-indent: 0em;
margin-left: 7.2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltextt {
margin-left: 1em;
text-indent: -1em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltextt2 {
margin-left: 2em;
text-indent: -2em;
margin-top: 0pt;
margin-bottom: 0pt;
}