body{word-wrap:break-word; text-align: justify; font-size: 1em; line-height:1.618em;}
p{margin-top: 1em;text-indent: 0em;}
.title1 {
	font-size: 2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0em;
}
.title2 {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0em;
}
.title3 {
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0em;
}
.title4 {
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0em;
}
.title5 {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}
.title6 {
	font-size: 0.85em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0em;
}
.subtitle{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-indent: 0em;
}
.subtitle1{
	text-indent: 0em;
	font-size: 1.1em;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	font-weight: bold;
}
.normaltext {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext1 {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: right;
}
.dqkh {
	text-indent: 2em;
	margin-top: 20pt;
	margin-bottom: 0pt;
}
.picture {
	text-indent: 0em;
    text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.table {
    width:100％;
	margin-bottom: 1em;
    text-align: center;
}
.table1 {
    width:100％;
	margin-bottom: 0em;
	margin-left: 2em;
}
td{
vertical-align: text-top;
}
.bt{
	text-indent: 0em;
	font-size: 1.1em;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 8px;
}
.bz{
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.tpzz{
vertical-align: middle;
}
.tpzz1{
	vertical-align: middle;
}
.note {
	font-size: 1.2em;
	font-weight: bold;
	text-indent: 0em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.note1 {
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.tz{
	font-size: 0.85em;
	margin-top: 0em;
	margin-bottom: 1em;
	margin-left: 2.5em;
	text-indent: -2.5em;
}
.tz1{
	font-size: 0.85em;
	margin-top: 0em;
	margin-bottom: 1em;
	margin-left: 3em;
	text-indent: -3em;
}
.underline{
	text-decoration:underline;
}
.doubleline{
	text-decoration:underline;
	border-bottom-width: thin;
	border-bottom-style: solid;
}
.suptext{
    font-size: 0.5em;
}
.fy{
   page-break-before: always;

}
a {
	color: #0000CC;
}
.mulu {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
	text-align: center;
	}
.contents {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
.mulu1 {
    margin-left: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.mulu2 {
    margin-left: 1.5em;
}
.mulu3 {
    margin-left: 4em;
}
.mulu4 {
    margin-left: 4em;
}
.mulu5 {
    margin-left: 4em;
}
.mulu6 {
    margin-left: 4em;
}
.kt{ 
    font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family:STKai, "MKai PRC", Kai;
}
.kindle-cn-bold
{
font-weight: bold;
}
.xt
{
font-style: italic;
}
.xx{
	border-bottom-width: 2px;
	border-bottom-style: dotted;
}
.lk {
	font-size: 0.85em;
    text-align: right;
   	margin-right: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.lk0 {
	font-size: 0.85em;
	font-weight: bold;
    text-align: right;
   	margin-right: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.subtitle0{
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0em;
	text-indent: 2em;
}
.subtitle2{
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0em;
}
.normaltextk{ 
    font-size: 0.85em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2em;
	font-family:STKai, "MKai PRC", Kai;
}
.normaltexta {
	text-indent: -2em;
	margin-top: 2pt;
	margin-bottom: 0pt;
	margin-left: 4em;
}
.normaltext0 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2em;
}
.normaltext01 {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: right;
	margin-right: 6em;
}
.normaltext2 {
    font-size: 0.85em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2em;
}
.normaltext02 {
    font-size: 0.85em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 1em;
}
.normaltext2a {
    font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2em;
}
.normaltext2b {
    font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 5em;
}
.normaltext2c {
    font-size: 0.85em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 4em;
}
.normaltext3 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext3a {
	text-indent: 0em;
	margin-top: 0pt;
   	 font-size: 0.85em;
	margin-bottom: 0pt;
}
.normaltext4 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
    text-align: center;
}
.normaltext4a {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 40%;
}
.normaltext5 {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 4em;
}
.normaltext6 {
	text-indent: 0em;
	margin-top: 2pt;
	margin-bottom: 0pt;
	margin-left: 4em;
}
.normaltext6a {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 1.5em;
}
.normaltext6b {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 6em;
}
.normaltext7 {
	text-indent: -2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 4em;
}
.normaltext7b {
	text-indent: -1.5em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left:3.5em;
}

.x{font-size: 0.85em;}
.b{font-size: 1.1em;}
.b1{font-size: 0.85em;font-weight: bold;}
.normaltext0b {
	text-indent: -2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2em;
}