body{word-wrap:break-word; text-align: justify; font-size: 1em; line-height:1.618em;}
p{margin-top: 1em;text-indent: 0em;}
.title1 {
	font-size: 2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title01 {
	font-size: 2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0em;
}
.title2 {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0em;
}
.title3 {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0em;
}
.title4 {
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title5 {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}
.title6 {
	font-size: 0.85em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.subtitle{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-indent: 0em;
}
.subtitle1{
	text-indent: 0em;
	font-size: 1.1em;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	font-weight: bold;
}
.normaltext {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext1 {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: right;
}
.dqkh {
	text-indent: 2em;
	margin-top: 20pt;
	margin-bottom: 0pt;
}
.lk {
	font-size: 0.9em;
	font-weight: bold;
    text-align: right;
   	margin-right: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.picture {
    text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.table {
    width:100%;
	margin-bottom: 1em;
    text-align: center;
}
.table1 {
    width:100%;
	margin-bottom: 1em;
	margin-left: 2em;
}
.bt{
	font-size: 1.1em;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 8px;
}
.bz{
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.tpzz{
	vertical-align: text-top;
}
.note {
	font-size: 1.2em;
	font-weight: bold;
	text-indent: 0em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.note1 {
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.mulu {
	font-size: 1.8em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.mulu1 {
	margin-left: 0em;
}
.mulu2 {
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 2em;
	margin-right: 0em;
	margin-top: 0.2em;
	margin-bottom: 0em;
}
.mulu3 {
	font-size: 1.1em;
	font-weight: bold;
	margin-left: 4em;
	margin-right: 0em;
	margin-top: 0.2em;
	margin-bottom: 0em;
}
.mulu4 {
	font-weight: bold;
	margin-left: 6em;
	margin-right: 0em;
	margin-top: 0.2em;
	margin-bottom: 0em;
}
.bqbt01{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 2em;
}
.bqbt02{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.bqbt1{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.8em;
	text-align: center;
}
.bqzz1{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 1em;
	text-align: center;
}
.bqbt2{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.8em;
	text-indent: 2em;
}
.bqzz2{
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 1em;
	text-indent: 2em;
}
.underline{
	text-decoration:underline;
}
.doubleline{
	text-decoration:underline;
	border-bottom-width: thin;
	border-bottom-style: solid;
}
.xz
{
	font-size: 0.85em;
}
.suptext{
    font-size: 0.5em;
}
.CN_Kindle_Kai{ font-family:STKai, "MKai PRC", Kai;
}
.kindle-cn-bold{font-weight: bold;}
.fy {
	page-break-before:always;
}
.xt
{
font-style: italic;
}
.title02 {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.normaltext0 {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-weight: bold;
}
.normaltext1a {
    font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: right;
}
.normaltext9 {
    font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: right;
	font-weight: bold;
}
.normaltext9a {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: right;
	font-weight: bold;
}
.normaltext2 {
    font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext2a {
    font-size: 0.85em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2em;
}
.normaltext3 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext03 {
    font-size: 0.85em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext3a {
	font-weight: bold;
	font-size: 1.1em;
	text-indent: 2em;
	margin-top: 10pt;
	margin-bottom: 10pt;
}
.normaltext4 {
	text-indent: -2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 4em;
}
.normaltext4a {
    font-size: 0.85em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
		margin-left: 4em;
}
.normaltext4b {
    font-size: 0.85em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
		margin-left: 7em;
}
.normaltext04b {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
		margin-left: 3.5em;
}
.normaltext5 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
		margin-left: 4em;
}
.normaltext6 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
		margin-left: 6em;
}
.normaltext7 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: center;
}
.normaltext8 {
	text-indent: -2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2em;
}
.normaltext10 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 8.5em;
}
.normaltext11 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 11em;
}
.normaltext12 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 8em;
}
.normaltext12a {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 9em;
}
.normaltext13 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 10em;
}
.normaltext14 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
		margin-left: 3em;
}
.normaltext14a {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
		margin-left: 3.5em;
}
.normaltext15 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 7.5em;
}
.normaltext16 {
	text-indent: -6.50em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 8em;
}
a{
color: #0000CC;
}