body{word-wrap:break-word; text-align: justify; font-size: 1em; line-height:1.618em;}
p{margin-top: 1em;text-indent: 0em;}
.title1 {
	text-indent: 0em;
	font-size: 2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}
.title01 {
	text-align: center;
	text-indent: 0em;
	font-size: 2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}
.title2 {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title3 {
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title4 {
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.title5 {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}
.title6 {
	font-size: 0.85em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.subtitle{
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0em;
}
.subtitle1{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}
.subtitle2{
	font-size: 1.1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}
.subtitle3{
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0em;
	text-indent: 2em;
}
.subtitle4{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-indent: 0em;
}
.subtitle5{
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 2em;
	text-indent: 0em;
}
.normaltext {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext1 {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: right;
}
.normaltext1a {
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: right;
}
.dqkh {
	text-indent: 2em;
	margin-top: 20pt;
	margin-bottom: 0pt;
}
.lk {
	font-size: 0.9em;
	font-weight: bold;
    text-align: right;
   	margin-right: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.picture {
    text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.picture1 {
	margin-left: 0em;
	margin-top: 10px;
	margin-bottom: 10px;
}
.table {
    width:100%;
	margin-bottom: 1em;
    text-align: center;
}
.table1 {
    width:100%;
	margin-bottom: 1em;
}
.bt{
	font-size: 1.1em;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 8px;
}
.bz{
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.tpzz1{
	vertical-align: middle;
}
.note {
	font-size: 1.2em;
	font-weight: bold;
	text-indent: 0em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.note1 {
	font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.mulu {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
.contents {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
.mulu1 {
    margin-left: 0em;
}
.mulu2 {
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 2em;
	margin-right: 0em;
	margin-top: 0.2em;
	margin-bottom: 0em;
}
.mulu3 {
	font-size: 1.1em;
	font-weight: bold;
	margin-left: 4em;
	margin-right: 0em;
	margin-top: 0.2em;
	margin-bottom: 0em;
}
.mulu4 {
	font-weight: bold;
	margin-left: 6em;
	margin-right: 0em;
	margin-top: 0.2em;
	margin-bottom: 0em;
}
.underline{
	text-decoration:underline;
}
.doubleline{
	text-decoration:underline;
	border-bottom-width: thin;
	border-bottom-style: solid;
}
.normaltext0 {
    text-align: right;
   	margin-right: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext01 {
	font-size: 1.1em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: right;
	font-weight: bold;
}
.normaltext2 {
    font-size: 0.85em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2em;
}
.normaltext2a {
    font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2em;
}
.normaltext2b {
    font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 5em;
}
.normaltext3 {
    font-size: 0.85em;
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext03a {
    font-size: 0.85em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext3a {
	text-indent: 4em;
	margin-top: 0pt;
   	 font-size: 0.85em;
	margin-bottom: 0pt;
}
.normaltext3b {
	text-indent: 7.25em;
	margin-top: 0pt;
   	 font-size: 0.85em;
	margin-bottom: 0pt;
}
.normaltext3c {
    font-size: 0.85em;
	text-indent: 1em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext3d {
    font-size: 0.85em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext3e {
    font-size: 0.85em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2em;
}
.normaltext3ea {
    font-size: 0.85em;
	text-indent: -1em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2em;
}
.normaltext3f {
    font-size: 0.85em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: right;
}
.normaltext3g {
	font-size: 0.85em;
	font-weight: bold;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: right;
}
.normaltext4 {
	text-indent: -2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
		margin-left: 4em;
}
.normaltext4a {
    font-size: 0.85em;
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
		margin-left: 4em;
}
.normaltext5 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.normaltext6 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 4em;
}
.normaltext06 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2em;
}
.normaltext6a {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 1.5em;
}
.normaltext6b {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 6em;
}
.normaltext6c {
	text-indent: 2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 4em;
}
.normaltext6d {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 3.5em;
}
.normaltext7 {
	text-indent: -2em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 4em;
}
.normaltext8 {
	text-indent: 0em;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 1em;
}
.xz{font-size: 0.85em;}
.kindle-cn-bold
{
font-weight: bold;
}
.normaltext12 {
    font-size: 0.85em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 7em;
}
.normaltext13 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 6em;
}
.normaltext04a {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 4em;
}
.normaltext14 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
	text-align: center;
}
.fy {
	page-break-before:always;
}
a {
	color: #0000CC;
}