body{word-wrap:break-word; text-align: justify; font-size: 1em; line-height:1.618em;}
p{margin-top: 1em;text-indent: 0em;}
h1.title1 {
font-size: 2em; 
font-weight: bold;
margin-top: 1em;
margin-bottom: 1em;
text-align: center;
line-height:1em;
}
h1.title1a {
font-size: 2em; 
font-weight: bold;
margin-top: 1em;
margin-bottom: 1em;
text-indent: 0em;
line-height:1em;
}
h2.title2 {
font-size: 1.5em;
font-weight: bold;
margin-top: 1em;
margin-bottom: 1em;
text-indent: 0em;
}
h3.title3 {
font-size: 1.3em;
font-weight: bold;
margin-top: 1em;
margin-bottom: 1em;
text-indent: 0em;
}
h4.title4 {
font-size: 1.1em;
font-weight: bold;
margin-top: 1em;
margin-bottom: 1em;
text-align: center;
}
h5.title5 {
font-weight: bold;
margin-top: 1em;
margin-bottom: 1em;
}
h6.title6 {
font-size: 0.85em;
font-weight: bold;
margin-top: 1em;
margin-bottom: 1em;
text-align: center;
}
.subtitle{
font-size: 1.1em;
font-weight: bold;
margin-top: 0.5em;
margin-bottom: 0.5em;
text-indent: 0em;
}
.subtitle00{
font-size: 1.2em;
font-weight: bold;
margin-top: 0em;
margin-bottom: 1em;
text-indent: 0em;
text-align: center;
}
.subtitle0{
font-weight: bold;
margin-top: 0.3em;
margin-bottom: 0.3em;
text-indent: 0em;
text-align: center;
}
.subtitle1{
font-size: 1.3em;
font-weight: bold;
margin-top: 0.5em;
margin-bottom: 0.5em;
text-align: center;
text-indent: 0em;
}
.subtitle2{
font-size: 1.1em;
font-weight: bold;
font-style:italic;
margin-top: 0.5em;
margin-bottom: 0em;
text-indent: 2em;
}
.subtitle02{
font-weight: bold;
margin-top: 0.5em;
margin-bottom: 0.5em;
text-indent: 2em;
}
.normaltext {
text-indent: 2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext1 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
text-align: right;
}
.dqkh {
text-indent: 2em;
margin-top: 20pt;
margin-bottom: 0pt;
}
.picture {
text-indent: 0em;
    text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}
.table {
text-indent: 0em;
    width:100%;
margin-bottom: 1em;
    text-align: center;
}
.table1 {
margin-left: 2em;
    width:100%;
}
.bt{
font-size: 1.1em;
text-align: center;
margin-top: 10px;
margin-bottom: 8px;
text-indent: 0em;
}
.bz{
font-size: 0.85em;
text-indent: 2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.tpzz{
vertical-align: middle;
}
td{
vertical-align: text-top;
}
.note {
font-size: 1.2em;
font-weight: bold;
text-indent: 0em;
margin-top: 1em;
margin-bottom: 0.5em;
}
.note1 {
font-size: 0.85em;
text-indent: 2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.note2 {
font-size: 0.85em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 8em;
}
.tz{
font-size: 0.85em;
text-align: center;
margin-top: 0;
margin-bottom: 10px;
text-indent: 0em;
}
.tz1{
font-size: 0.85em;
text-indent: 2em;
margin-top: 0;
margin-bottom: 10px;
}
.underline{
text-decoration:underline;
}
.doubleline{
text-decoration:underline;
border-bottom-width: thin;
border-bottom-style: solid;
}
.suptext{
    font-size: 0.5em;
}
.fy{
   page-break-before: always;
}
a {
color: #0000CC;
}

.mulu {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
text-align: center;
}
.contents {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
.mulu1 {
    margin-left: 0em;
}
.mulu01 {
    margin-left: 1.5em;
}
.mulu2 {
    margin-left: 1.5em;
}
.mulu3 {
    margin-left: 3em;
}
.mulu3a {
    margin-left: 3.5em;
}
.mulu4 {
    margin-left: 4em;
}

.mulu5 {
    margin-left: 4em;
}

.mulu6 {
    margin-left: 4em;
}
.CN_Kindle_Kai{ font-family:STKai, "MKai PRC", Kai;
}
.kindle-cn-bold{font-weight: bold;}
.xt
{
font-style: italic;
}
.xx{
border-bottom-width: 2px;
border-bottom-style: dotted;
}
.xz
{
font-size: 0.85em;
}
.lk {
font-size: 0.85em;
    text-align: right;
   margin-right: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext03 {
    font-size: 0.85em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext2 {
    font-size: 0.85em;
text-indent: 2em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext2a {
    font-size: 0.85em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 2em;
}
.normaltext3 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext3a {
font-weight: bold;
font-size: 1.1em;
text-indent: 2em;
margin-top: 10pt;
margin-bottom: 10pt;
}
.normaltext4 {
text-indent: -2em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 4em;
}
.normaltext4a {
    font-size: 0.85em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 4.7em;
}
.normaltext4aa {
    font-size: 0.85em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 7.2em;
}
.normaltext4aac {
text-indent: -4em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 7em;
}
.normaltext04a {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 4em;
}
.normaltext04ab {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 4.0em;
}
.normaltext04aa {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 6.2em;
}

.normaltext5 {
    font-size: 0.85em;
font-family:STKai, "MKai PRC", Kai;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 4em;
}
.normaltext6 {
    font-size: 0.85em;
font-family:STKai, "MKai PRC", Kai;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 2em;
}
.normaltext7 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 4em;
}
.normaltext7ac {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 5em;
}
.normaltext07a {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 3.3em;
}
.normaltext07b {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 5.1em;
}
.normaltext7a {
    font-size: 0.85em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 4em;
}
.normaltext1a {
    font-size: 0.85em;
text-indent: 2em;
margin-top: 0pt;
margin-bottom: 0pt;
text-align: right;
}
.normaltext8 {
font-weight: bold;
    font-size: 0.85em;
text-indent: 2em;
margin-top: 0pt;
margin-bottom: 0pt;
text-align: right;
}
.normaltext9 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
    text-align: center;
}
.normaltext10 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 7em;
}
.normaltext10a {
    font-size: 0.85em;
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
}
.normaltext11 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 8.5em;
}
.normaltext12 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 6em;
}
.normaltext13 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 5em;
}
.normaltext14 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 10em;
}
.normaltext15 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 9em;
}
.normaltext16 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 7.5em;
}
.normaltext17 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 10.5em;
}
.normaltext18 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 6.3em;
}
.normaltext19 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 7.5em;
}
.normaltext20 {
text-indent: 0em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 3em;
}
.normaltext21 {
text-indent: -4em;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 4em;
}
